<main class="portafolio">
  <div class="title">
    <div class="mountain-anim">
      <ng-lottie [options] = 'logo'
                  width = 55px></ng-lottie>
      <!-- <img src="../../../../assets/icons/MountainsLogoLight.svg" alt="Logo"> -->
    </div>
    <h1>¿Qué hacemos?</h1>
  </div>

  <article class="que-hacemos">
    
      <div class="texto">
        <p class="texto-contenido">
          Integramos experiencia jurídica tradicional a infraestructuras de software que despliegan automáticamente modelos de análisis intuitivos, predictivos, coherentes y confiables, diseñados para ampliar el acceso al consejo jurídico experto
        </p>
      
    </div>
  </article>

  <div class="contenedor">

    <article class="acierta">
      <div class="card">
        <h2 class="subTitle">Acierta en tu inmueble</h2>
        <div class="img">
          <img src="../../../../assets/icons/acierta.png" alt="acierta_en_tu_inmueble">
        </div>
        <p>Score de riesgo jurídico inmobiliario que, a través de un sistema experto, establece y califica el estado jurídico básico de un inmueble registrado en el Certificado de Tradición y Libertad</p>
        <a href="https://www.aciertaentuinmueble.com/" target="_blank">Ir al sitio</a>
      </div>
    </article>

    <article class="prozess">

      <div class="card">
        <h2 class="subTitle">ProzessLaw</h2>
        <div class="img">
          <img src="../../../../assets/icons/prozess.jpeg" alt="prozess">
        </div>
        <p>Software de gestión integral del riesgo asociado a casos jurídicos mediante un riguroso seguimiento, análisis, control y auditoria de cada actuación procesal</p>
        <a href="https://prozesslaw.com/">Ir al sitio</a>
      </div>
    </article>
  </div>



</main>
