

<div class="hero">

  <div class="title">

    <div class="mountain-anim">
      <ng-lottie [options] = 'logo'
                  width = 55px></ng-lottie>
      <!-- <img src="../../../../assets/icons/MountainsLogoLight.svg" alt="Logo"> -->
    </div>

    <h1>Smart Law Tech</h1> 

  </div>

  <div class="container">
    
    <div class="contenido">
      <p>Transformamos datos en conocimiento aplicado que amplía el acceso al consejo jurídico experto</p>
    </div>
  
    <!-- Cards -->
    <div class="cards-container">
      <div class="card">
        <img src="../../../../assets/icons/1. Nuevos Modelos.svg" alt="nuevos_modelos">
        <p>Servicios Jurídicos Digitales</p>
        <a href="#nuevos-modelos">Saber más</a>
      </div>
    
      <div class="card">
        <img src="../../../../assets/icons/2. Tecnologias Cognitivas.svg" alt="tecnologias_cognitivas">
        <p>Tecnologías Cognitivas Confiables</p>
        <a href="#tecnologias-cognitivas">Saber más</a>
      </div>
    </div>
    
    <div class="scroll">
      <img src="../../../../assets/icons/scroll.svg" alt="scroll">
      <p>scroll</p>
    </div>

  </div>



</div>

<main class="main-home">
  <article class="nuevos-modelos" id="nuevos-modelos">
    <h2>SERVICIOS JURÍDICOS DIGITALES</h2>
    <div class="contenido">
      <ng-lottie [options] = 'serviciosJuridicos'
                  class="icono"></ng-lottie>
      <!-- <img class="icono" src="../../../../assets/icons/3. Nuevos  Modelos2 1.svg" alt="modelos"> -->
      <p  class="texto-contenido">
        Diseñamos modelos alternos de prestación de servicios legales acoplados a los avances tecnológicos de la economía global del conocimiento
      </p>

    </div>

    <div class="button">
      <a routerLink = "../portafolio"
          routerLinkActive = "active">Más información</a>
    </div>
    
    <div class="scroll">
      <img src="../../../../assets/icons/scroll.svg" alt="scroll">
      <p>scroll</p>
    </div>
    
  </article>
  
  <article class="tecnologias-cognitivas" id="tecnologias-cognitivas">
    <h2>TECNOLOGÍAS COGNITIVAS CONFIABLES</h2>
    <div class="contenido">
      <ng-lottie [options] = 'tecnologiasCognitivas'
      class="icono"></ng-lottie>
      <!-- <img class="icono" src="../../../../assets/icons/4. Tecnologias2 2.svg" alt="tecnologias"> -->
      <p class="texto-contenido">Desarrollamos tecnologías de uso sencillo que transforman datos en información útil para sustituir diagnósticos reactivos por acciones proactivas que contribuyen a la solución de problemas mediante la toma de decisiones más inteligentes
      </p>
    </div>

    <div class="button">
      <a routerLink = "../portafolio"
      routerLinkActive = "active">Más información</a>
    </div>
    
    <div class="scroll">
      <img src="../../../../assets/icons/scroll.svg" alt="scroll">
      <p>scroll</p>
    </div>

  </article>

  <section class="aliados-section">
    <div class="aliados-container">
      <div class="aliados">
        <h3>Alianzas:</h3>
        <div class="logos">
  
            <div>
              <img src="../../../../assets/icons/21. Bancolombia.png" alt="Bancolombia">
              <p>Grupo Bancolombia</p>
            </div>
            
          
            <div>
              <img src="../../../../assets/icons/22. Davivienda.png" alt="Davivienda">
              <p>Banco Davivienda</p>
            </div>
          
            <div>
              <img src="../../../../assets/icons/23. Fiduciaria.png" alt="Fiduciaria">
              <p>Davivienda Fiduciaria</p>
            </div>
          
          
        </div>
      </div>
  
    </div>
  </section>
  

</main>

