<footer>
  <div class="contenido">
    <h4>Contenido</h4>
    <ul>
      <li>INICIO</li>
      <li>NOSOTROS</li>
      <li>PORTAFOLIO</li>
      <li>EQUIPO</li>
      <li>CONTACTO</li>
      <li>BLOG</li>
    </ul>
  </div>
  <div class="redes">
    <h4>Redes Sociales</h4>
    <ul>
      <li><img src="../../../assets/icons/facebook.svg" alt="Facebook"></li>
      <li><img src="../../../assets/icons/twitter.svg" alt="Twitter"></li>
      <li><img src="../../../assets/icons/linkedIn.svg" alt="LinkedIn"></li>
      <li><img src="../../../assets/icons/google_plus.svg" alt="Google"></li>
    </ul>
  </div>
  <div class="contacto">
    <h4>Contacto</h4>
    <ul>
      <li>DIRECCIÓN</li>
      <li>MAIL</li>
      <li>TELEFONO</li>
      <li>CELULAR</li>
    </ul>
  </div>
</footer>